<!--<section style="background:#efefe9;">-->
<section>
  <div class="container">
    <div class="board shadow p-3 mb-5 bg-white rounded">
      <!-- Navigation Area (Circular Tabs) -->
      <ng-http-loader></ng-http-loader>
      <msw-navbar></msw-navbar>
      <!-- End Navigation Area (Circular Tabs) -->

      <!-- Content Area -->
      <div class="tab-content">
        <!-- Nested view  -->
        <router-outlet></router-outlet>
      </div>
      <!-- End Content Area -->
    </div>

    <!-- For Debugging: show our valid formData -->
    <!--<pre>{{ formData | json }}</pre>-->
  </div>
</section>
